body {
  font-family: "Open Sans", serif;
}

.wrapper {
  background: linear-gradient(to right, #e5914b , #e74c3c);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  height: 90vh;
  background: #fff;
  box-shadow: 0px 13px 40px -13px rgba(0,0,0,0.75);
  width: 80%;
  margin: 0 auto;
  /*padding: 10px;*/
}

.row{
  /*align-content: center;*/
}

.title-container {
  height: 90vh;
  background: linear-gradient(to right, #ffb832 , #fb8a17);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #000;
}

.title-container__title {
  font-size: 50px;
  letter-spacing: 2px;
  line-height: 1.3;
  font-family: 'Roboto Slab', serif;
}

.title-container__subtitle {
  font-style: italic;
  font-weight: 100;
  letter-spacing: 1px;
  line-height: 1.5;
  font-family: "Merriweather", serif;
}

.form-container {
  background-color: #2c3e50;
  height: 90vh;
  padding-top: 10px;
  padding-left: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

input[type="text"] {
  background-color: transparent;
  border: 0;
  border-bottom: solid 1px #f16051;
  width: 30%;
  padding-bottom: 4px;
  color: #fff !important;
  font-weight: lighter;
  letter-spacing: 2px;
  margin-bottom: 30px;
  margin-right: 20px;
  font-size: 20px;
}

input[type="text"] {
  outline: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #2c3e50 inset;
  -webkit-text-fill-color: #fff !important;
}

button {
  border: 0;
  padding: 8px 20px;
  margin: 0 2px;
  border-radius: 2px;
  font-weight: lighter;
  letter-spacing: 1px;
  font-size: 15px;
  cursor: pointer;
  background-color: #f16051;
  color: #fff;
  font-weight: 100;
}

button:active {
  outline: none;
}

.weather__info {
  width: 60%;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 2px;
}

.weather__key {
  color: #f16051;
  border-bottom: solid 2px rgba(255,255,255,0.06);
  padding: 20px 0 20px 0;
  font-weight: 400;
}

.weather__key:last-child {
  border: 0;
}

.weather__value {
  color: #fff;
  font-weight: 200;
}

.weather__error {
  color: white;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 200;
}

.forecast{
  color: #f16051;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  max-height: 50%;
  font-weight: 700;
  flex-direction: row;
}

.card{
  font-family: "Open Sans", serif;
  font-weight: lighter;
  min-width: 100%;
  min-height: 50%;
  overflow-x: auto;
  display: flex;
  margin-right: 10px;
}

.card--content {
  background-color: transparent;
  min-width: 50%;
  margin-top: 15px;
  /*margin-left: 5px;*/
  /*margin-right: 5px;*/
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-right-style: solid;
  border-right-color: darkgrey;
  border-right-width: thin;
  /*border-style: solid;*/
  /*border-color: darkgray;*/
  /*border-width: thin;*/
}

.card::-webkit-scrollbar {
  display: none;
}

.card--content--left{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 50%;
}

.card--content--right{
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: right;
  min-width: 50%;
}

.forecast_value{
  color: white;
  font-weight: lighter;
}

.icon{
  size: 20px;
}